<div class="main-container">
	<header class="header-2">
		<div class="branding">
			<a class="nav-link">
				<clr-icon shape="home" size="24"></clr-icon>
				<span class="title">Clarity</span>
			</a>
		</div>
		<div class="header-nav">
			<a class="active nav-link nav-text">Home</a>
		</div>
	</header>
	<div class="content-container">
		<div class="content-area">
			<button class="btn btn-primary" (click)="createIdentity()">Create</button>
      <clr-modal [(clrModalOpen)]="createIdentityStepperOpen" [clrModalSize]="'lg'" (clrModalOpenChange)="clearCreateIdentityStepperAfterClose()">
        <h3 class="modal-title">Create Identity</h3>
        <div class="modal-body">
          <span>Create an Identity</span>
			    <form clrStepper [formGroup]="identityForm" (ngSubmit)="createNewIdentity()" *ngIf="createIdentityStepperFormDisplay">
            <clr-stepper-panel formGroupName="identityName">
              <clr-step-title>Name</clr-step-title>
              <clr-step-content *clrIfExpanded>
                <clr-input-container>
                  <label>Name</label>
                  <input clrInput formControlName="name" maxlength="50"/>
                  <clr-control-error *clrIfError="'required'">Name Required</clr-control-error>
                  <clr-control-error *clrIfError="'maxlength'">Must be less than 50 characters</clr-control-error>
                </clr-input-container>
                <clr-textarea-container>
                  <label>Description</label>
                  <textarea clrTextarea placeholder="Enter description" formControlName="description" maxlength="255"></textarea>
                  <clr-control-error *clrIfError="'maxlength'">Must be less than 256 characters</clr-control-error>
                </clr-textarea-container>
                <button clrStepButton="next">Next</button>
              </clr-step-content>
            </clr-stepper-panel>

            <clr-stepper-panel formGroupName="identityContact">
              <clr-step-title>Contact Information</clr-step-title>
              <clr-step-content *clrIfExpanded>
                <clr-checkbox-container style="margin-top: unset;">
                  <label class="clr-col-12"><span style="color: #fc0404;">*</span>Contacts</label>
                  <clr-checkbox-wrapper *ngFor="let contact of contacts; let i = index;"
                    formArrayName="checkSelectedContacts">
                    <input class="clr-col-12" clrCheckbox [formControlName]="i" type="checkbox">
                    <label class="clr-col-12">{{contact.contact}}</label>
                  </clr-checkbox-wrapper>
                </clr-checkbox-container>
                <button clrStepButton="next">Next</button>
              </clr-step-content>
            </clr-stepper-panel>

            <clr-stepper-panel formGroupName="identityCity">
              <clr-step-title>City</clr-step-title>
              <clr-step-content *clrIfExpanded>
                <clr-checkbox-container style="margin-top: unset;">
                  <label class="clr-col-12"><span style="color: #fc0404;">*</span>Select City</label>
                  <clr-checkbox-wrapper *ngFor="let city of cities; let i = index;"
                    formArrayName="checkSelectedCities">
                    <input class="clr-col-12" clrCheckbox type="checkbox" [formControlName]="i">
                    <label class="clr-col-12">{{city.city}}</label>
                  </clr-checkbox-wrapper>
                </clr-checkbox-container>
                <button clrStepButton="next">Next</button>
              </clr-step-content>
            </clr-stepper-panel>

            <clr-stepper-panel formGroupName="identitySummary">
              <clr-step-title>Summary</clr-step-title>
              <clr-step-content *clrIfExpanded>
                <section>
                  <p style="font-weight: bold; margin-bottom: 10px;">
                    <label>Name</label>
                  </p>
                  <span style="overflow-wrap: break-word;">{{ this.identityForm.get('identityName').get('name').value }}</span>
                  <p style="font-weight: bold; margin-bottom: 10px;">
                    <label>Descriptions</label>
                  </p>
                  <span style="overflow-wrap: break-word;">{{ this.identityForm.get('identityName').get('description').value }}</span>
                  <p style="font-weight: bold; margin-bottom: 10px;">
                    <label>Selected Contacts</label>
                  </p>
                  <span>{{ this.getSelectedContacts() | json }}</span>
                  <p style="font-weight: bold; margin-bottom: 10px;">
                    <label>Selected Cities</label>
                  </p>
                  <span>{{ this.getSelectedCities() | json }}</span>
                </section>
                <button clrStepButton="submit">Create Identity</button>
              </clr-step-content>
            </clr-stepper-panel>
			    </form>
        </div>
      </clr-modal>
      <button class="btn btn-primary" (click)="editIdentity()">Edit</button>
      <clr-modal [(clrModalOpen)]="editIdentityStepperOpen" [clrModalSize]="'lg'" (clrModalOpenChange)="clearEditIdentityStepperAfterClose()">
        <h3 class="modal-title">Edit Identity</h3>
        <div class="modal-body">
          <span>Edit an Identity</span>
			    <form clrStepper [formGroup]="editIdentityForm" (ngSubmit)="saveEditedIdentity()" *ngIf="editIdentityStepperFormDisplay"
            [clrInitialStep]="this.identitySummary" >
            <clr-stepper-panel formGroupName="identityName">
              <clr-step-title>Name</clr-step-title>
              <clr-step-content *clrIfExpanded>
                <clr-input-container>
                  <label>Name</label>
                  <input clrInput formControlName="name" maxlength="50"/>
                  <clr-control-error *clrIfError="'required'">Name Required</clr-control-error>
                  <clr-control-error *clrIfError="'maxlength'">Must be less than 50 characters</clr-control-error>
                </clr-input-container>
                <clr-textarea-container>
                  <label>Description</label>
                  <textarea clrTextarea placeholder="Enter description" formControlName="description" maxlength="255"></textarea>
                  <clr-control-error *clrIfError="'maxlength'">Must be less than 256 characters</clr-control-error>
                </clr-textarea-container>
                <button clrStepButton="next">Next</button>
              </clr-step-content>
            </clr-stepper-panel>

            <clr-stepper-panel formGroupName="identityContact">
              <clr-step-title>Contact Information</clr-step-title>
              <clr-step-content *clrIfExpanded>
                <clr-checkbox-container style="margin-top: unset;">
                  <label class="clr-col-12"><span style="color: #fc0404;">*</span>Contacts</label>
                  <clr-checkbox-wrapper *ngFor="let contact of editedContacts; let i = index;"
                    formArrayName="checkSelectedContacts">
                    <input class="clr-col-12" clrCheckbox [formControlName]="i" type="checkbox">
                    <label class="clr-col-12">{{contact.contact}}</label>
                  </clr-checkbox-wrapper>
                </clr-checkbox-container>
                <button clrStepButton="next">Next</button>
              </clr-step-content>
            </clr-stepper-panel>

            <clr-stepper-panel formGroupName="identityCity">
              <clr-step-title>City</clr-step-title>
              <clr-step-content *clrIfExpanded>
                <clr-checkbox-container style="margin-top: unset;">
                  <label class="clr-col-12"><span style="color: #fc0404;">*</span>Select City</label>
                  <clr-checkbox-wrapper *ngFor="let city of editedCities; let i = index;"
                    formArrayName="checkSelectedCities">
                    <input class="clr-col-12" clrCheckbox type="checkbox" [formControlName]="i">
                    <label class="clr-col-12">{{city.city}}</label>
                  </clr-checkbox-wrapper>
                </clr-checkbox-container>
                <button clrStepButton="next">Next</button>
              </clr-step-content>
            </clr-stepper-panel>

            <clr-stepper-panel formGroupName="identitySummary">
              <clr-step-title>Summary</clr-step-title>
              <clr-step-content *clrIfExpanded>
                <section>
                  <p style="font-weight: bold; margin-bottom: 10px;">
                    <label>Name</label>
                  </p>
                  <span style="overflow-wrap: break-word;">{{ this.editIdentityForm.get('identityName').get('name').value }}</span>
                  <p style="font-weight: bold; margin-bottom: 10px;">
                    <label>Descriptions</label>
                  </p>
                  <span style="overflow-wrap: break-word;">{{ this.editIdentityForm.get('identityName').get('description').value }}</span>
                  <p style="font-weight: bold; margin-bottom: 10px;">
                    <label>Selected Contacts</label>
                  </p>
                  <span>{{ this.getEditedSelectedContacts() | json }}</span>
                  <p style="font-weight: bold; margin-bottom: 10px;">
                    <label>Selected Cities</label>
                  </p>
                  <span>{{ this.getEditedSelectedCities() | json }}</span>
                </section>
                <button clrStepButton="submit">Save Identity</button>
              </clr-step-content>
            </clr-stepper-panel>
			    </form>
        </div>
      </clr-modal>
		</div>
	</div>
</div>
